# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Assignment_1/
Assignment_2/Syntax/.idea/
Assignment_2/Syntax/.ipynb_checkpoints/
Assignment_2/Syntax/data/
Assignment_2/Syntax/pickled_data/
Assignment_2/Syntax/toms_junk/
Assignment_1/adv/Ass1_Syntax/.Rproj.user/
Assignment_2/Syntax/__pycache__/
